# This workflows executes new or modified example notebooks.

name: test_changed_notebooks

on:
  push:
    branches:
      - master
    paths:
      - 'examples/**/*.ipynb'
  pull_request:
    branches:
      - master
    paths:
      - 'examples/**/*.ipynb'
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  test_changed_notebooks:
    if: github.event.pull_request.draft == false

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.6', '3.7', '3.8', '3.9' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check for new or changed .ipynb files
        id: changed-ipynb
        uses: tj-actions/changed-files@v1.1.2
        with:
          files: |
            examples/*.ipynb

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get install build-essential
          pip install --upgrade pip
          pip install -r requirements/dev.txt
          pip install -e .[prophet]
          pip install -e .[torch]
          pip freeze
      - name: Run notebooks
        env:
          FILES: ${{ steps.changed-ipynb.outputs.all_modified_files }}
        # The following line builds the test case string to be passed to pytest by stripping the directory 'examples/',
        # adding the `or` quantifier between the names and concatenating with the test name `test_notebook_execution`.
        run: |
          tests="test_notebook_execution[$(echo ${FILES} | sed 's/examples\///g' | sed 's/ / or /g')]" &&
          pytest --no-cov -rA --durations=0 -vv testing/test_notebooks.py -k "$tests"
